@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h1 > a.header-anchor:last-child,
.prose h2 > a.header-anchor:last-child,
.prose h3 > a.header-anchor:last-child,
.prose h4 > a.header-anchor:last-child,
.prose h5 > a.header-anchor:last-child,
.prose h6 > a.header-anchor:last-child {
  text-decoration: none;
  font-weight: normal;
  opacity: .5;
}

.prose h1:hover > a.header-anchor:last-child:after,
.prose h2:hover > a.header-anchor:last-child:after,
.prose h3:hover > a.header-anchor:last-child:after,
.prose h4:hover > a.header-anchor:last-child:after,
.prose h5:hover > a.header-anchor:last-child:after,
.prose h6:hover > a.header-anchor:last-child:after {
  content: '#';
}

.prose > hr.footnotes-sep {
  margin: 0;
}

.prose > hr.footnotes-sep + section.footnotes {
  font-size: smaller;
}

.prose .markdown-alert {
    padding: 1em;
    border-left: 0.25rem solid;
    padding-bottom: 0px;
    padding-top: 0px;
    border-color: var(--border-color);
}

.prose .markdown-alert > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--border-color);
}

.prose .markdown-alert .markdown-alert-icon {
    margin-right: 0.5em;
    fill: var(--border-color);
}

.prose .markdown-alert.note {
    --border-color: #539BF5;
}

.prose .markdown-alert.warning {
    --border-color: #C69026;
}

.prose .markdown-alert.important {
    --border-color: #986EE2;
}

.prose .markdown-alert.caution {
    --border-color: #E5534B;
}

.prose .markdown-alert.tip {
    --border-color: #57AB5A;
}

.prose pre.shiki.has-highlighted {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.prose pre.shiki.has-highlighted > code > span.line {
  padding-left: 1.1428571em;
  padding-right: 1.1428571em;
}

.prose pre.shiki.has-highlighted > code > span.highlighted.line {
  display: inline-block;
  width: 100%;
  background-color: rgba(101, 117, 133, .16) !important;
}

.prose pre.shiki.has-highlighted > code > span.highlighted.line > span {
  background-color: transparent !important;
}

.prose pre.shiki.has-focused > code > span.line:not(.focused) {
  opacity: 0.5;
  filter: blur(.095rem);
  transition: filter .35s, opacity .35s;
}

.prose pre.shiki.has-focused:hover > code > span.line:not(.focused) {
  opacity: 1;
  filter: blur(0);
}

.prose pre.shiki.has-diff {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.prose pre.shiki.has-diff > code > span.line {
  padding-left: 1.1428571em;
  padding-right: 1.1428571em;
}

.prose pre.shiki.has-diff > code > span.line.diff {
  display: inline-block;
  width: 100%;
}

.prose pre.shiki.has-diff > code > span.line.diff:before {
  display: inline-block;
  width: 15px;
}

.prose pre.shiki.has-diff > code > span.line:not(.diff) {
  margin-left: 15px;
}

.prose pre.shiki.has-diff > code > span.line.diff.add {
  background-color: rgba(16, 185, 129, .14) !important;
}

.prose pre.shiki.has-diff > code > span.line.diff.add:before {
  content: '+';
  color: #18794e;
}

.prose pre.shiki.has-diff > code > span.line.diff.remove {
  background-color: rgba(244, 63, 94, .14) !important;
}

.prose pre.shiki.has-diff > code > span.line.diff.remove:before {
  content: '-';
  color: #b34e52;
}

.prose pre.shiki.has-diff > code > span.line.diff.add > span,
.prose pre.shiki.has-diff > code > span.line.diff.remove > span {
  background-color: transparent !important;
}

@media (prefers-color-scheme: dark) {
  .prose pre.shiki,
  .prose pre.shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
